body {
  max-width: 1024px;
  margin: 0 auto;
}

header {
  background-color: #2d3739;
}

header {
  display: flex;
  justify-content: space-evenly;
  height: 30%;
}

main {
  background-color: #fff;
  height: 70%;
  position: relative;
  font-size: 16px;
}

img {
  clip-path: circle(130px);
}

main h3 {
  color: #37b5a7;
  position: relative;
}

h3.objective::before,
h3.experience::before,
h3.education::before {
  content: '';
  position: absolute;
  top: 30px;
  width: 95%;
  border: 1px solid #37b5a7;
}

main p {
  color: #2d3739;
}

.contacts {
  color: #fff;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.contacts ul {
  list-style: none;
}

.contacts ul li {
  margin: 5px;
}
